/* página principal: catálogo de productos */
.a-editar {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background: #ff9b26;
    color: white;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    border-radius: 8px;
}
.navbar {
    background-color: lightgray;
    border-radius: 10px;
}
.a-eliminar {
    margin: 10px 10px;
    display: flex;
    justify-content: flex-end;
}

.a-custom {
    background: #ff9b26;
    color: white;
}

.card {
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 10px 6px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    padding: 0px 20px 0px 20px;
    object-fit: cover;
}

.card-title {
    font-size: medium;
    font-weight: normal;
    margin: 0px 0px 10px 0px;
}

.card-subtitle {
    margin-top: 0;
}

.card-body {
    margin: 0px 0px 0px 0px;
}

.card-text {
    margin-bottom: 1rem;
}

.card-text-price {
    font-weight: bolder;
    font-weight: 800;
}

.card-text-stock {
    font-weight: 800;
}
.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.separacion {
    height: 2px;
    width: 88%;
    color: black;
    background-color: black;
    border-radius: 10px;
    margin: 20px auto;
}

.title-cataleg-productes {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 75px;
    font-weight: bold;
}

.title-super {
    font-size: 25px;
    font-weight: bold;
    margin: 20px 0px 20px 0px;
}

.form-control-search {
    width: 360px !important;
}
